{# vim: filetype=dosini
#}
[Grid]

X1-grid 1 0. 64 u 10.0
X2-grid 1 0.0 2048 u 100.0
X3-grid 1 0.0   1 u 1.0

[Chombo Refinement]

Levels           4
Ref_ratio        2 2 2 2 2 
Regrid_interval  2 2 2 2 
Refine_thresh    0.3
Tag_buffer_size  3
Block_factor     8
Max_grid_size    64
Fill_ratio       0.75

[Time]

CFL              0.4
CFL_max_var      1.1
tstop            1200
first_dt         1.e-4

[Solver]

Solver         roe

[Boundary]

X1-beg        reflective
X1-end        outflow
X2-beg        eqtsymmetric
X2-end        userdef
X3-beg        outflow
X3-end        outflow

[Static Grid Output]

output_dir {{ output_dir }}
log_dir    {{ log_dir }}
uservar    3 T divB nu1
dbl        2.        -1   {{ file_type }}
flt       -1.0  -1   {{ file_type }}
vtk       -1.0       -1   {{ file_type }}
dbl.h5    -1.0  -1
flt.h5    -1.0  -1
tab       -1.0  -1   
ppm       -1.0  -1   
png       -1.0  -1
log        1
analysis  -1.0  -1

[Chombo HDF5 output]

Checkpoint_interval  -1.0  0
Plot_interval         1.0  0 

[Parameters]

HALF_LOOP_L                    100. ; L0 (1 Mm)
T_CH                           20.e3 ; K
T0_APEX                        3.6e6 ; K
NE_CH                          7.e12 ; cm-3
TC_L09                         2.5e5 ; K
STEP_R                         1. ; L0 (1 Mm)
STEP_b                         5.
STEP_rT                        0.3333333333333333
STEP_rprs                      3.
Bz0                            42. ; G
Re                             1.e-1
Re_end                         1.e5
t_Re_ramp                      300
VRW_XMAX                       50. ; L0 (1 Mm)
VRW_AMIN                       0.
